@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800;900&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, 'sans-serif';
    font-weight: 600;
}

p, h1, h2, h3 {
    user-select: none; /* Prevent text selection */
}

body {
    font-size: 24px; /* Adjust the font size as needed */
    background-color: #0d0b1c;
    color: white;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.home {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="text"] {
    font-size: 25px;
    border-radius: 5px;
}

.ip--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.ipBox {
    height: 30px;
    width: 180px;
    padding-left: 5px;
}

.btnSendCommand {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(210, 74, 0);

        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */

    transition: all 0.1s;
}

.btnSendCommand:active {
    transform: scale(0.9);
}

.instructionsButton {
    position: absolute;
    left: 11%;
    height: 27px;
    width: 25px;
    border-radius: 5px;
    background-color: white;

        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */

    transition: all 0.1s;
}

.instructionsButton > h1 {
    color: black;
    font-size: 25px;
}

.instructionsButton:active {
    transform: scale(0.9);
}

.instructions {
    background-color: black;
    padding: 10px;
    padding-left: 35px;
    border-radius: 10px;
    position: absolute;
    left: 5.5%;
    top: 29%;
}

.control_menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.choose_colormode{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 5px;
}

.tempCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

input[type="radio"] {
    width: 30px; /* Adjust the width */
    height: 30px; /* Adjust the height */
}

input[type="radio"]:checked {
    background-color: black; /* Change background color when checked */
}

input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    border-radius: 10px; /* This value makes it round */
    /* background: linear-gradient(90deg, orange 60%, white 60%); */
    opacity: 100%; /* Default background color */
    outline: none;
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.8);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 35px;
    background: white; /* Gradient for the center */
    border-radius: 20%; /* This value makes it round */
    cursor: pointer;
}

.lamp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
}

.lamp-top {
    background: black;
    height: 100px;
    width: 10px;
}

.lamp-middle {
    background: black;
    border-radius: 50px 50px 0 0;
    height: 30px;
    width: 50px;
}

.lamp-bottom {
    background: black;
    border-radius: 100px 100px 0 0;
    cursor: pointer;
    height: 80px;
    width: 150px;
    position: relative;
    top: -10px;
}

.light--container{
    position: relative;
    top: -10px;

    z-index: -1;
}

.light {
    clip-path: polygon(40% 0, 60% 0, 80% 100%, 20% 100%);
    height: 550px;
    width: 700px;
}
